[Unit]
Description=Flask Webhook Server
After=network.target

[Service]
User=trafitto
WorkingDirectory=/home/me/flask-webhook-server
ExecStart=/home/me/flask-webhook-server/.venv/bin/python /home/me/flask-webhook-server/main.py
Restart=always

[Install]
WantedBy=multi-user.target